@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: Poppins, system-ui, sans-serif;
      scroll-behavior: smooth;
      overflow-x: hidden;
      font-display: swap;
    }

    .splide__pagination{
      position: relative;
      margin-top: 20px;
    }


    .splide__pagination__page {
      background:#cbd5e1;
      z-index:1;
      transform:scale(2);
      margin-right: 16px;
      opacity: 1;
     }

    .splide__pagination__page.is-active {
      background:#1B61AD;
      transform:scale(2);
      z-index:1
     }

     .link-underline {
      border-bottom-width: 0;
      background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
      background-size: 0 3px;
      background-position: 0 100%;
      background-repeat: no-repeat;
      transition: background-size .1s ease-in-out;
    }
  
    .link-underline-black {
      background-image: linear-gradient(transparent, transparent), linear-gradient(#1B61AD, #1B61AD)
    }
  
    .link-underline:hover {
      background-size: 100% 3px;
      background-position: 0 100%
    }

    .fade-me-in.htmx-added {
      opacity: 0;
    }
  
  .fade-me-in {
      opacity: 1;
      transition: opacity 0.5s ease-out;
    }
  
  .fade-me-out.htmx-swapping {
      opacity: 0;
      transition: opacity 0.5s ease-out;
    }
     
  }
